@use '../abstracts/' as *;

.head-text {
	font-size: 2.25rem; // min 1.25rem
	font-family: var(--ff-heading);
	font-weight: var(--fw-semibold);
	color: var(--clr-neutral-900);
	text-align: center;
}

.body-text {
	font-family: var(--ff-body);
	color: var(--clr-neutral-500);
	width: min(60ch, 100% - 1rem);
}

.text-center {
	text-align: center;
}

.section-title {
	margin-bottom: 1rem;
}

.section-subtitle {
	margin-bottom: 3rem;
}
