@use '../abstracts/' as *;

.head-text {
	font-size: 2.25rem; // min 1.25rem
	font-family: var(--ff-heading);
	font-weight: var(--fw-semibold);
	color: var(--clr-neutral-900);
	text-align: center;
}

.body-text {
	font-family: var(--ff-body);
	color: var(--clr-neutral-500);
	width: min(60ch, 100% - 1rem);
}

.section-title {
	font-family: var(--ff-heading);
	font-size: 2.25rem;
	font-weight: var(--fw-semibold);
	text-align: center;
	color: var(--clr-neutral-900);
	margin-bottom: 1rem;
	text-transform: capitalize;
}

.section-subtitle {
	font-family: var(--ff-body);
	font-size: 1rem;
	color: var(--clr-neutral-500);
	width: min(var(--max-width, 60ch), 100% - 1rem);
	text-align: center;
	margin-inline: auto;
	margin-bottom: 6rem;
}
