@use '../../scss/abstracts/' as *;

.hero {
	.hero &-title {
		font-size: clamp(2.25rem, 5vw, 4.5rem); // 3.875rem
		font-weight: var(--fw-semibold);
		color: var(--clr-neutral-100);
	}
	.hero &-description {
		color: var(--clr-neutral-100);
		margin-inline: auto;
	}
	&-wrapper {
		@include separate-children(2rem);
	}
	&-button {
		margin-top: 4rem;
		margin-inline: auto;
	}
}
